<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist Home</title>
</head>
<body>
    <h1>Hello {{ name }}! This is the home of your to-do list</h1>
    <table border="1">
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Situation</th>
            <th>Creation date</th>
            <th>Status</th>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{task.name}}</td>
                    <td>{{task.description}}</td>
                    <td>{% if task.completed %} Completed {% else %} Incomplete {% endif %}</td>
                    <td>{{task.date_creation}}</td>
                    <td><a href="{% url 'tasks:remove' task.id %}">Delete</a></td>
                    <td><a href="{% url 'tasks:edit' task.id %}">Edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'tasks:add' %}" ><button>Add Task</button></a>
</body>
</html>